/_docs
.alan
/deployments/*/definition.json
/deployments/*/systems/*/instance/instance.json
/deployments/*/systems/*/instance/timestamp.txt
/deployments/*/systems/*/migration.pkg
/dist
imigrations/*/data
/deploy.sh
/README.md
/systems/*/model.link

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix